html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 800px;
  height: 650px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: -9%;
  background-size: cover;
}

.card-image {
  width: 100%;
  height: 100%;
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/a225176-large-1669661289.jpeg?crop=1xw:0.8438350468702752xh;center,top&resize=2048:*");
  background-size: cover;
  background: "rgba(0, 0, 0, 0.5)";
  background-position: center;
  font-size: 1.5rem;
  opacity: 50;
  color: #fff;
  opacity: 100%;
}

.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.update-card {
  background-color: #f0f0f0;
}

.card-content {
  padding: 20px;
}
.card2 {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  margin-right: -90px;
  height: 425px;
}

.card2-header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.card2-title {
  font-size: 1.5rem;
  margin: 0;
}

.unpaid-content ul {
  list-style-type: none;
  padding: 0;
}

.unpaid-content li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.unpaid-content p,
.unpaid-content h5 {
  margin: 0;
  font-size: 1rem;
}

.unpaid-content p {
  color: #777;
}

.unpaid-content h5 {
  font-weight: bold;
}

.footer {
  background-color: #fff;
  color:#4a2c2a ;
  padding: 30px 0;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
  margin-left: 20%;
}

.footer-text h5,
.footer-text h4 {
  color: #4a2c2a ;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-text ul {
  list-style: none;
  padding: 0;
}

.footer-text ul li {
  margin-bottom: 10px;
}

.footer-text ul li a {
  color: #4a2c2a ;
  text-decoration: none;
  font-size: 1rem;
}

.footer-text ul li a:hover {
  text-decoration: underline;
}

h2 {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
